.sidebar1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* padding-top: 4rem; */
  transition: all 300ms ease;
  height: 90%;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  top: 5rem;
  left: 26%;
  z-index: 10;
 height: 80%;
}

/* logo */
.bars{
  display: none;
}

.logo {
  display: flex;
  height: 3rem;
  
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}


.logo > img {
  width:130px;
}


/* menu */
.menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.active {
  background: #231E39;
  color: #fff;
  margin-left: 0;
}
.active a{
  color: #fff;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: rgb(252, 252, 252);
  margin-right: calc(1rem - 8px);
}


/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }
}

/* @media screen and (max-width: 768px) { */
 
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  
  .close{
    left: -60%;
  }
/* } */

